<div class="personlist-cnt">
    <div class="personlist-breadcrumb">
        <div>
            <h2>Trending Actors</h2>
        </div>
    </div>
    <div class="personlist">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <person-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let person of (popularPeople | async)?.results" [person-details]="person"></person-details>
        </div>
    </div>
    <div class="button-container">
        <button (click)="loadPeople()">More...</button>
    </div>
</div>