.person-card:hover {
    box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0.2);
}
.person-card-img {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}