<div class="showlist-cnt">
    <div class="showlist-breadcrumb">
        <div>
            <h2>Trending TV shows</h2>
        </div>
    </div>
    <div class="showlist">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <show-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let show of popularShows" [show-details]="show"></show-details>
        </div>
    </div>
    <div class="button-container">
        <button (click)="loadShows()">More...</button>
    </div>
</div>