<div class="showview-container">
    <div class="showview" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
        <div class="showview-image">
            <img [src]="show.poster_path" [alt]="show.name">
        </div>
        <div class="showview-details">
            <div class="showview-name">
                <h1>{{ show.name }}</h1>
            </div>
            <div style="padding: 5px 0;">
                <span>Genres: </span>
                <span *ngFor="let genre of show.genres"> {{ genre.name }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>First air date: {{ show.first_air_date }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Number of seasons: {{ show.num_of_seasons }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Number of episodes: {{ show.num_of_episodes }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Score: {{ show.vote_average }}</span>
            </div>
            <div class="showview-overview-cnt">
                <h2>Overview</h2>
                <div class="show-overview">{{ show.overview }}</div>
            </div>
        </div>
        <div>
            <button id="saveButton" (click)="save($event.target)">Save</button>
        </div>
    </div>
</div>
<div class="seasons">
    <h2>Seasons</h2>
</div>
<mat-tab-group mat-stretch-tabs>
    <mat-tab *ngFor="let season of seasons" [label]="season.season_number">
        <div class="season-name">
            <h2>{{ season.name }}</h2>
        </div>
        <episode-details *ngFor="let episode of season.episodes" [episode-details]="episode"></episode-details>
    </mat-tab>
</mat-tab-group>
<div class="showlist-cnt">
    <div class="showlist-breadcrumb">
        <div>
            <h2>Similar shows</h2>
        </div>
    </div>
    <div class="showlist">
        <show-details *ngFor="let show of similarShows" [show-details]="show"></show-details>
    </div>
    <div class="button-container">
        <button (click)="loadShows()">More...</button>
    </div>
</div>