<div class="movieview-container">
    <div class="movieview" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="30px">
        <div class="movieview-image">
            <img src="{{(movie | async)?.poster_path == null ? placeholder : apiPosterUrl + (movie | async)?.poster_path}}" alt="{{(movie | async)?.title}}">
        </div>
        <div class="movieview-details">
            <div class="movieview-name">
                <h1>{{ (movie | async)?.title }} ({{ (movie | async)?.release_date.substring(0, 4) }})</h1>
            </div>
            <div style="padding: 5px 0;">
                <span>Genres: </span>
                <span *ngFor="let genre of (movie | async)?.genres"> {{ genre.name }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Release date: {{ (movie | async)?.release_date }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Runtime: {{ (movie | async)?.runtime }}m</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Score: {{ (movie | async)?.vote_average }}</span>
            </div>
            <div class="movieview-overview-cnt">
                <h2>Overview</h2>
                <div class="movie-overview">{{ (movie | async)?.overview }}</div>
            </div>
        </div>
        <div>
            <button id="saveButton" (click)="save($event.target)">Save</button>
        </div>
    </div>
</div>
<div class="personlist-cnt">
    <div class="personlist-breadcrumb">
        <div>
            <h2>Cast</h2>
        </div>
    </div>
    <div class="personlist">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <person-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let person of (cast | async)?.cast" [person-details]="person"></person-details>
        </div>
    </div>
</div>
<div class="movielist-cnt">
    <div class="movielist-breadcrumb">
        <div>
            <h2>Similar movies</h2>
        </div>
    </div>
    <div class="movielist">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <movie-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of (similarMovies | async)?.results" [movie-details]="movie"></movie-details>
        </div>
    </div>
    <div class="button-container">
        <button (click)="loadMovies()">More...</button>
    </div>
</div>