.movieview-container {
    display: flex;
    justify-content: center;
}
.movieview {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 900px;
}
.movieview-image {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    padding-right: 15px;
    flex: 5;
}
.movieview-details {
    font-family: system-ui;
    padding-left: 15px;
    flex: 7;
}
.movieview-name h1 {
    margin-top: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.movieview-overview-cnt h2 {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}
.movielist {
    display: flex;
    color: grey;
    padding: 15px;
    flex-wrap: wrap;
    padding-top: 0;
}
.movielist-breadcrumb {
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-bottom: 0;
    padding-top: 17px;
}
.movielist-breadcrumb h2 {
    margin: 0;
}
.button-container {
    text-align: center;  
}
button {
    font-size: 25px;
}
.personlist {
    display: flex;
    color: grey;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 0;
}
.personlist-breadcrumb {
    font-family: system-ui;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    padding-bottom: 0;
    padding-top: 17px;
}
.personlist-breadcrumb h2 {
    margin: 0;
}