.show-card:hover {
    box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0.2);
}
.show-card-img {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.show-card-year {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: darkgray;
    padding: 4px 0;
}
.show-card-score {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: darkgray;
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}