<div class="personview-container">
    <div class="personview" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <div class="personview-image">
            <img src="{{(person | async)?.profile_path == null ? placeholder : apiProfileUrl + (person | async)?.profile_path}}" alt="{{(person | async)?.name}}">
        </div>
        <div class="personview-details">
            <div class="personview-name">
                <h1>{{ (person | async)?.name }}</h1>
            </div>
            <div style="padding: 5px 0;">
                <span>Gender: {{ (person | async)?.gender }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Born: {{ (person | async)?.birthday }}</span>
            </div>
            <div style="padding: 5px 0;">
                <span>Place of birth: {{ (person | async)?.place_of_birth }}</span>
            </div>
            <div class="personview-biography-cnt">
                <h2>Biography</h2>
                <div class="person-biography">{{ (person | async)?.biography }}</div>
            </div>
        </div>
        <div>
            <button id="saveButton" (click)="save($event.target)">Save</button>
        </div>
    </div>
</div>
<div class="movielist-breadcrumb">
    <div>
        <h2>Known for:</h2>
    </div>
</div>
<div>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Movies"> 
            <div class="movielist-cnt">
                <div class="movielist">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <movie-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of (movies | async)?.cast" [movie-details]="movie"></movie-details>
                    </div>
                </div>
            </div> 
        </mat-tab>
        <mat-tab label="TV Shows">
            <div class="movielist-cnt">
                <div class="movielist">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <show-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let show of (shows | async)?.cast" [show-details]="show"></show-details>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>