<section fxLayout="column" fxFlexAlign="stretch"> 
    <div fxFlexAlign="center"> 
        <p>Welcome to the Film World Application</p> 
    </div>

    <p>This application provides general help with movie hunting using The Movie Database API.</p> 
    <h3>Your saved items:</h3>

    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Movies"> 
          <div class="list">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <movie-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of savedMovies" [movie-details]="movie"></movie-details>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="TV Shows">
          <div class="list">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <show-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let show of savedShows" [show-details]="show"></show-details>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Actors">
          <div class="list">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
              <person-details fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let person of savedPeople" [person-details]="person"></person-details>
            </div>
          </div>
        </mat-tab>
    </mat-tab-group>
</section>
