<section fxLayout="column" fxFlexAlign="stretch"> 
    <div fxFlexAlign="center"> 
        <p>Welcome to the Film World Application</p> 
    </div>

    <p>This application provides general help with movie hunting.</p> 

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="executeSelectedChange($event)">
        <mat-tab label="Movies"> 
          <p>popular movies</p> 
        </mat-tab>
        <mat-tab label="TV Shows">
           <p>popular tv shows</p>
          </mat-tab>
        <mat-tab label="Actors">
           <p>popular actors</p>
          </mat-tab>
      </mat-tab-group>
</section>
